<div class="back">
    <div class="flex">
        <div style="width: 30%;">
            <app-menu-bar></app-menu-bar>
        </div>

        <div class="content w-3/4" style="width: 66%;">
            <div class="contenedor">
                <img alt="Profile Image" class="rounded-full mr-1 imagen" height="70"
                src="../../../assets/imgs/Logo1Munici.png"
                width="120" />

                <h1 style="color: darkgreen;">
                    MESA DE PARTES
                </h1>
            </div>
            
            <div class="section border-black">
                <div class="section-header">
                    <i class="fas fa-folder-open">
                    </i>
                    Registro de Expediente
                </div>
                <div class="input-group">
                    <label for="tipo-tramite">
                        SELECCIONE:
                    </label>
                    <select id="tipo-tramite">
                        <option>
                            TIPO DE TRAMITE
                        </option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="asunto">
                        ASUNTO:
                    </label>
                    <input id="asunto" type="text" />
                </div>
            </div>
            <div class="section border-green-600">
                <div class="section-header">
                    <i class="fas fa-user">
                    </i>
                    Datos del Administrativo
                </div>
                <div class="input-group">
                    <label for="tipo-documento">
                        SELECCIONE:
                    </label>
                    <select id="tipo-documento">
                        <option>
                            TIPO DE DOCUMENTO
                        </option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="nombre">
                        NOMBRE:
                    </label>
                    <input id="nombre" type="text" />
                </div>
                <div class="input-group">
                    <label for="telefono">
                        TELEFONO:
                    </label>
                    <input id="telefono" type="text" />
                </div>
                <div class="input-group">
                    <label for="ingrese-doc">
                        INGRESE DOC.:
                    </label>
                    <input id="ingrese-doc" type="text" />
                    <button>
                        VALIDAR DOCUMENTO
                    </button>
                </div>
                <div class="input-group">
                    <label for="correo-electronico">
                        CORREO ELECTRONICO:
                    </label>
                    <input id="correo-electronico" type="text" />
                </div>
            </div>
            <div class="section border-red-600">
                <div class="section-header">
                    <i class="fas fa-paperclip">
                    </i>
                    Archivos a Adjuntar
                </div>
                <div class="input-group">
                    <button class="bg-blue-600 text-white">
                        <i class="fas fa-upload">
                        </i>
                        SELECCIONAR ARCHIVO
                    </button>
                </div>
                <div class="input-group">
                    <label for="descripcion-archivo">
                        DESCRIPCIÓN DE ARCHIVO:
                    </label>
                    <input id="descripcion-archivo" type="text" />
                </div>
                <div class="input-group">
                    <label for="nombre-doc">
                        NOMBRE DOC.:
                    </label>
                    <input id="nombre-doc" type="text" />
                </div>
                <div class="input-group">
                    <label for="numero-folios">
                        NUMERO DE FOLIOS:
                    </label>
                    <input id="numero-folios" type="text" />
                </div>
            </div>
            <div class="save-button">
                <button>
                    <i class="fas fa-save">
                    </i>
                    GUARDAR
                </button>
            </div>
        </div>
    </div>
</div>