<div>
        <div class="container-web">
            <div class="container">
                <div class="title-container">
                    <img alt="Municipalidad Distrital de Pachacutec logo" class="image hidden sm:block" height="100"
                        src="../../../assets/imgs/pacha.png" width="100" style="width: 250px;" />
                    <div class="title">
                        BIENVENIDOS AL SISTEMA DE GESTIÓN Y SEGUIMIENTO DE DOCUMENTOS MDP
                    </div>
                    <img alt="Stack of documents and a laptop" class="image hidden sm:block" height="100"
                        src="../../../assets/imgs/pacha2.png" width="100" />
                </div>
                <div class="container-login">
                    <h2 class="subtitle-login">¡BIENVENIDO! INGRESE SUS CREDENCIALES PARA COMENZAR:</h2>
                    <input [(ngModel)]="usuario"  class="input-box" placeholder="Ingrese su usuario" type="text" />
                    <br><br>
                    <input [(ngModel)]="password"  class="input-box" placeholder="Ingrese su contraseña"
                        type="password" />
                    <div class="flex justify-between mt-4">
                        <button (click)="goToRegisterPage()" class="link">
                            <a routerLink="/register-page">
                                ¿Deseas Registrarte?
                            </a>
                        </button>

                        <button (click)="goToNewPwd()" class="link">
                            <a>¿Has olvidado tu contraseña?</a>
                        </button>
                    </div>
                    <button (click)="login()" class="login-button">
                        INICIAR SESIÓN
                    </button>
                </div>
            </div>
        </div>
</div>