<div class="sidebar w-1/4 mr-10">
    <div class="flex items-center mb-12">
        <img alt="Profile Image" class="rounded-full mr-1" height="30" style="margin-right:0.55rem"
            src="../../assets/bg/UsuarioFT.png"
            width="50" />
        <span class="text-white font-bold" style="font-size: 30px; color:#b7c318f0;">
            Perfil
        </span>
    </div>
    <button (click)="goRegistroMDP()" class="btn" >
        <i class="fas fa-file-alt">
        </i>
        REGISTRO DE MESA DE PARTES
    </button>
    <button (click)="goTomesa()" class="btn" >
        <i class="fas fa-search">
        </i>
        SEGUIMIENTO DE TRAMITES
    </button>
    <button  (click)="goToreclamo()" class="btn">
        <i class="fas fa-exclamation-circle">
        </i>
        REGISTRO RECLAMO
    </button>
    <button class="btn" >
        <i class="fas fa-users-cog">
        </i>
        PERSONAL AUTORIZADO
    </button>
        <button (click)="goToback()" style="background-color: rgba(142, 31, 31, 0.877);" class="btn">
            <i class="fas fa-sign-out-alt">
            </i>
            CERRAR SESIÓN
        </button>
</div>