<div class="body-regi flex items-center justify-center h-screen bg-green-700">
    
    <div class="bg-green-200 bg-opacity-90 p-10 rounded-lg shadow-lg w-3/4 relative container-registro">
        <div class="">
            <div class="">
                <h2 class="text-xl font-bold text-black mb-5" style="color: white;">
                    ¡PARA CREAR SU USUARIO!<br>iNGRESE SUS DATOS:
                </h2>
                <img alt="Municipalidad Distrital de Pachacutec logo" class="image2 hidden sm:block" height="100" src="../../../assets/imgs/pacha.png"   width="100" style="width: 13%;"/>
                <input class="input-field" placeholder="Ingrese su Nombre" type="text" />
                <input class="input-field" placeholder="Ingrese su Apellido" type="text" />
                <input class="input-field" placeholder="Cree su usuario" type="text" />
                <input class="input-field" placeholder="Cree su contraseña" type="password" />
                <input class="input-field" placeholder="ingrese su DNI" type="text" />
                <input class="input-field" placeholder="Ingrese su Telefono" type="text" />
            </div>
        </div>
        <div class="text-center mt-10">
            <div class="register-button font-bold">
                REGISTRAR
            </div>
        </div>

    </div>
</div>