<div class="back">
    <div class="flex">
      <div style="width: 30%">
        <app-menu-bar></app-menu-bar>
      </div>
  
      <div class=" content w-3/4 form-container" style="width: 66%; margin-top: 40px;">
        
  
        <div class="flex justify-between items-center mb-8">
          <div class="flex items-center">
            <h2 class="text-2xl font-bold text-black ml-2 titulo">
              REGISTRO DE RECLAMO
           </h2>
          </div>
          <div class="contenedor">
            <img alt="Profile Image" class="rounded-full mr-1 imagen" height="70"
            src="../../../assets/imgs/Logo1Munici.png"
            width="120" />
          </div>
        </div>
        <div class="mb-8 cuadroreclamo"> <br>
          <h1 class="subtitulo">REGISTRO DE RECLAMO </h1> 
          <h2>TITULO:</h2><input type="text">
          <h2>Descripción de reclamo:</h2> <textarea name="cuadrorec" id="reclamo"></textarea>
          <h2>Eviidencia:</h2><input type="file" id="archivo" name="archivo">
          <br>
          <div>
            <table class="w-full table-auto border-collapse table">
              <thead class="titulotabla">
                <tr class="bg-black text-white">
                  <th class="p-2 border border-gray-300">ID</th>
                  <th class="p-2 border border-gray-300">DOCMUENTOS</th>
                  <th class="p-2 border border-gray-300"> </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="p-2 border border-gray-300">Text</td>
                  <td class="p-2 border border-gray-300">Text</td>
                  <td class="p-2 border border-gray-300">Text</td>
                </tr>
                <tr>
                  <td class="p-2 border border-gray-300">Text</td>
                  <td class="p-2 border border-gray-300">Text</td>
                  <td class="p-2 border border-gray-300">Text</td>
                </tr>
                <tr>
                  <td class="p-2 border border-gray-300">Text</td>
                  <td class="p-2 border border-gray-300">Text</td>
                  <td class="p-2 border border-gray-300">Text</td>
                </tr>
              </tbody>
            </table>
          </div>
        <button class="btnguardar">GUARDAR</button>
        </div>

      </div>
      <br> <br>
    </div>
  </div>